.slide {
    background-color: darkgrey;
}

.card-deck {
    padding: 20px 0;
    margin: 5px 0 !important;
    background-color: #f7f7f7;
    justify-content: space-between;
}

.badge-restaurant {
    background-color: #508d9b !important;
}

.card-deck .card {
    max-height: 446px;
}

.text-muted {
    font-size: 70% !important;
}

.reservation-form {
    width: 330px;
}

.bg-light-blue {
    background-color: #e3f2fd !important;
}

.nav-item a {
    margin: 0 5px 0 5px;
}

.btn-block.nav-item a {
    margin: 0;
}

.card-header {
    background-color: #e3f2fd !important;
}